#avatar-pic {
  display: block;
  margin: auto;
  width: 35%;
  border-radius: 50%;
  margin-bottom: 100px;
}

#body {
  margin-bottom: 100px;
}

#body-text {
  font-size: large;
  width: 50%;
  text-align: justify;
  text-indent: 30px;
  color: orange;
  padding-top: 50px;
}

#body-text-center {
  font-size: large;
  width: 50%;
  text-align: center;
  color: orange;
  padding-top: 50px;
}

#body-text-no-indent {
  font-size: large;
  width: 50%;
  text-align: justify;
  color: orange;
  padding-top: 50px;
}

#footer {
  background-color: #212738;
  position: fixed;
  bottom: 0px;
  padding-bottom: 0px;
  text-align: center;
  color: gold;
  width: 100%;
}

#footer-img {
  display: inline;
  height: 3.5rem;
  width: 3.5rem;
  padding: 10px;
  margin-right: 100px;
  margin-left: 100px;
}

#header-one {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
  width: 65%;
  color: gold;
  margin-top: 100px;
}

#header-two {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
  width: 75%;
  color: gold;
  margin-top: 100px;
  text-align: center;
}

#header-three {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
  width: 65%;
  color: gold;
  margin-top: 100px;
  text-align: right;
}

#intro-text {
  width: 80%;
  text-align: center;
  font-family: "Oooh Baby", serif;
  font-weight: 400;
  font-style: normal;
  color: gold;
  padding-top: 50px;
  padding-bottom: 50px;
}

#rey-pic {
  display: block;
  margin: auto;
  width: 25%;
  border-radius: 50%;
}

#ss-one {
  display: block;
  width: 35%;
  border-radius: 5%;
  margin-left: 300px;
  margin-top: 50px;
  margin-bottom: 10px;
}

#ss-two {
  display: block;
  margin: auto;
  width: 35%;
  border-radius: 5%;
  margin-top: 50px;
  margin-bottom: 10px;
}

#ss-three {
  display: block;
  width: 35%;
  border-radius: 5%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-right: 300px;
}